node_modules
.cache
dist
.next
.turbo
.vercel
.nuxt
.output
.angular
.svelte-kit
.solid
.env
.DS_Store
docker-compose.yml
src/liff-web/vite.config.mjs
src/liff-web/.env
src/api/.env
src/admin-web/vite.config.mjs
src/admin-web/.env